/* Universal Styles */

body {
  margin: 0;
  background-color: white;
  font-family: "Helvetica", sans-serif;
  color: black;
  font-size: 16px;
}

a {
  color: black;
}

#flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white
}

/* Header Section */

header {
  z-index: 1;
  align-items: center;
  width: 100%;
  height: 69px;
}

header img {
  height: 64px;
  padding-left: 24px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}


/* START HERE SECTION */

#maincontainer {
  opacity: 0.9;
  width: 100%;
  height: 400px;
  margin-left: 24px;
  background-color: lightgrey;

  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image1 {
  overflow: hidden;
  height: 60%;
  width: 60%;
  padding-left: 24px;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-right: 40px;
}

#learn {
  padding-left: 24px;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-right: 40px;
  color: black;
  text-align: left;
}

#learn p {
  color: white;
  border-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: black;
  text-align: center;

}
/*Practicing section*/

.parent {
  margin-left: 24px;
  margin-right: none;

  padding-left: 24px;
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  border: 1px solid red;
}

.child{
  width: 50%;
  border: 1px solid blue;
  overflow: hidden;
}


.child img {
  width: 100%;
  height: auto;
  border: 1px solid green;
  overflow: hidden;

}


.grandchild{
  height: 33%;

  border: 1px solid orange;
  display: flex;
}

.grandchild img {
  width: 35%;
  height: auto;

}

.text p{
  text-align: left;
  margin-left: 30px;
}




/*start learning Section*/
#startlearning{
  text-align: center;
  background-color: lightgrey;
}

#startlearningcontainer {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  background-color: lightgrey;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  background-color: white;
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: left;
}

/*thesis Section*/

#thesis {
  border-color: red;
}

#video{
  margin-left: 24px;
}
